// background image for index html - present in all views
.bg-img {
  // background-image: url('../images/bg.jpg');
}
// logo in top nav bar in
.logo {
  width: 1.6em;
}

// in all views set base styles
.all-views {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px auto 0 auto;
  width: 80%;
  padding: 50px 0px 0px 0px;
  font-size: 62.5%;

  // MAIN VIEW

  // tag line and title
  .tag-line {
    text-align: center;
    width: 100%;
    span {
      font-size: 2em;
    }
    img {
      width: 8em;
    }
    h1 {
      margin-bottom: 60px;
    }
  }
  // search and sort by
  .filter {
    overflow: auto;
    margin-bottom: 30px;
    span {
      float: left;
      width: 50%;
    }
    .search {
      font-size: 2em;
      input {
        height: 40px;
        width: 100%;
        text-align: center;
      }
    }
    .sorting {
      select {
        height: 40px;
      }
    }
  }
  // table
  .table {
    clear: both;
    margin: 0px auto 50px auto;
    width: 100%;
    thead tr th {
      font-size: 1.5em;
      text-align: center;
    }
    tbody tr td {
      text-align: center;
      button {
        width: 80%;
        padding: 7px 20px 7px 20px;
        margin: 0px;
        a {
          vertical-align: middle;
        }
      }
    }
  }
  // sign up view
  #signUpSection {
    margin: 0 auto;
    width: 40%;
    h2 {
      margin: 20px 0px 30px 0px;
      text-align: center;
    }
    input {
      height: 40px;
      margin-bottom: 20px;
    }
    button {
      margin-top: 10px;
      width: 100%;
    }
    p {
      text-align: center;
      padding-bottom: 50px;
    }
  }
  // login view
  #loginSection {
    margin: 0 auto;
    width: 40%;
    h2 {
      margin: 20px 0px 30px 0px;
      text-align: center;
    }
    input {
      height: 40px;
      margin-bottom: 20px;
    }
    button {
      margin-top: 10px;
      width: 100%;
    }
    p {
      text-align: center;
      padding-bottom: 50px;
    }
  }
  // profile view
  .upper-profile-left {
    overflow: auto;
    float: left;
    width: 50%;
  }
  .upper-profile-right {
    overflow: auto;
    float: right;
    width: 50%;
    span {
      float: right;
    }
  }
  .lower-profile {
    clear: both;
    padding-top: 20px;
    h2 {
      margin: 0px 0px 50px 0px;
      text-align: center;
      font-size: 3.6em;
      font-weight: 600;
    }
    .gridOuter {
      overflow: auto;
      margin-bottom: 50px;
    }
    .grid {
      text-align: center;
      &:nth-child(2n) {
        background-color: HSLA(0, 0%, 20%, 0.05);
      }
      p:nth-child(1) {
        margin: 15px 0px 15px 0px;
        font-size: 2em;
      }
      button {
        width: 30%;
        padding: 10px 20px 10px 20px;
        font-size: 0.8em;
      }
      #statusBtn {
        width: 62%;
        margin-bottom: 0px;
      }
    }
  }











}




#map-pois{
  height: 500px;
  width: 500px;
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#user {
  color: white;
}
