<div class="singlePlanit-container">

  <div class="top">
    <h1>{{ singlePlan.planName }}</h1>
    <h3>{{ singlePlan.destination }}</h3>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns search">
      <form class="userSearch">
        <input type="text" name="query" id="query" value="" placeholder="where to go">
        <button ng-click="doSearch(singlePlan)">Search</button>
      </form>
      <div class="catSearch">
      <p>Not sure where to go - check out these suggestions...</p>
        <button ng-click="doTopPicks(singlePlan)">Top Picks</button>
        <button ng-click="doTrending(singlePlan)">Trending</button>
        <button ng-click="doSights(singlePlan)">Sights</button>
        <button ng-click="doFood(singlePlan)">Food</button>
        <button ng-click="doDrinks(singlePlan)">Drinks</button>
        <button ng-click="doShops(singlePlan)">Shops</button>
        <button ng-click="doArts(singlePlan)">Arts</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-block-grid-2 medium-block-grid-5 large-block-grid-12">
      <div class="results">
        <h3>Search Results</h3>
        <div id="searchResultsArea" ng-show="isSearchArea">
          <ul class="small-block-grid-2 medium-block-grid-5 large-block-grid-5">
            <li ng-repeat="searchResult in searchResults" id="{{ searchResult.id }}" class="bgC">
              <p>{{ searchResult.name }}</p>
              <p>{{ searchResult.location.address }}</p>
              <p>{{ searchResult.location.city }} {{ searchResult.location.postalCode }}</p>
              <button data-reveal-id="myModal" ng-click="poiDetails(searchResult.id)">i</button>
              <button ng-click="addPoi(searchResult, categoryResult)">+</button>
            </li>
          </ul>
        </div>
        <div id="categoryResultsArea" ng-show="isCategoryArea">
          <ul class="small-block-grid-2 medium-block-grid-5 large-block-grid-5">
            <li ng-repeat="categoryResult in exploreResults" id="{{ categoryResult.venue.id }}" class="bgC">
              <p>{{ categoryResult.venue.name }}</p>
              <p>{{ categoryResult.venue.location.address }}</p>
              <p>{{ categoryResult.venue.location.city }} {{ categoryResult.venue.location.postalCode }}</p>
              <button data-reveal-id="myModal" ng-click="poiDetails(categoryResult.venue.id)">i</button>
              <button ng-click="addPoi(searchResult, categoryResult)">+</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal" class="reveal-modal" data-reveal>
    <section ng-show="showDetails">
      <a class="close-reveal-modal">X</a>
      <h3>{{ allDetails.name }}</h3>
      <h5>Description</h5>
      <p>{{ allDetails.description }}</p>
      <h5>Rating</h5>
      <p>{{ allDetails.rating }}</p>
      <h5>Website</h5>
      <p>{{ allDetails.url }}</p>
      <h5>Telephone</h5>
      <p>{{ allDetails.contact.formattedPhone }}</p>
      <h5>Hours</h5>
      <li ng-repeat="hours in schedule">
        <p>{{ hours.days }} {{ hours.open[0].renderedTime }}</p>
      </li>
    </section>
  </div>

  <div class="row">
    <div class="small-7 large-7 columns plan ">
      <h2>Plan</h2>
      <ul class="small-block-grid-2">
        <li ng-repeat="poi in pois" id="{{ poi.id }}" class="bgC">
          <p>{{ poi.name }}</p>
          <button ng-click="deletePoi(poi, $index, singlePlan)">X</button>
        </li>
      </ul>
    </div>
    <div class="small-5 large-5 columns notes">
      <h3>myPlanit Notes</h3>
      <form id="notes" ng-submit="updateNotes(singlePlan)">
        <button>Update</button>
        <textarea rows="10" cols="10" ng-model="singlePlan.notes" placeholder="add notes for plan"></textarea>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns plan-it">
      <a href="#/singleTimeline/{{ singlePlan.objectId }}"><button>Plan It</button></a>
    </div>
  </div>

</div>
