<h2>Plan Name: {{ singlePlan.planName }}</h2>
<h3>Destination: {{ singlePlan.destination }}</h3>

<div id="search">
  <!-- <input type="text" name="near" id="near" value="{{ singlePlan.destination }}"> -->
  <input type="text" name="query" id="query" value="" placeholder="where to go?">
  <button ng-click="doSearch(singlePlan)">Search</button><br />

  <p> Not sure where to go - check out these suggestions... </p>
  <button ng-click="doTopPicks(singlePlan)">Top Picks</button>
  <button ng-click="doTrending(singlePlan)">Trending</button>
  <button ng-click="doSights(singlePlan)">Sights</button>
  <button ng-click="doFood(singlePlan)">Food</button>
  <button ng-click="doDrinks(singlePlan)">Drinks</button>
  <button ng-click="doShops(singlePlan)">Shops</button>
  <button ng-click="doArts(singlePlan)">Arts</button>
</div>

<h3>Search Results</h3>
<div id="searchResultsArea">
  <ul>
    <li ng-repeat="searchResult in searchResults" id="{{ searchResult.id }}">
      <a href="" ng-click="poiDetails(searchResult.id)">Details</a>
      <p>{{ searchResult.name }}</p>
      <p>{{ searchResult.location.address }} {{ searchResult.location.city }} {{ searchResult.location.postalCode }}</p>
      <button ng-click="addPoi(searchResult, categoryResult)">Add</button>
    </li>
  </ul>
</div>

<div id="categoryResultsArea">
  <ul>
    <li ng-repeat="categoryResult in exploreResults" id="{{ categoryResult.venue.id }}">
      <a href="" ng-click="poiDetails(categoryResult.venue.id)">Details</a>
      <p>{{ categoryResult.venue.name }}</p>
      <p>{{ categoryResult.venue.location.address }} {{ categoryResult.venue.location.city }} {{ categoryResult.venue.location.postalCode }}</p>
      <button ng-click="addPoi(searchResult, categoryResult)">Add</button>
    </li>
  </ul>
</div>

<section ng-show="showDetails" id="details">
  <h3>Poi Details</h3>
  <h5>Description</h5>
  <p>{{ allDetails.description }}</p>
  <h5>Rating</h5>
  <p>{{ allDetails.rating }}</p>
  <h5>Website</h5>
  <p>{{ allDetails.url }}</p>
  <h5>Telephone</h5>
  <p>{{ allDetails.contact.formattedPhone }}</p>
  <h5>Hours</h5>
  <li ng-repeat="hours in schedule">
    <p>{{ hours.days }} {{ hours.open[0].renderedTime }}<p>
    </li>
  </section>


  <h2>Plan</h2>
  <ul>
    <li ng-repeat="poi in pois" id="{{ poi.id }}">
      <p>{{ poi.name }}</p>
      <button ng-click="deletePoi(poi, $index, singlePlan)">X</button>
    </li>
  </ul>

  <a href="#/singleTimeline/{{ singlePlan.objectId }}"><button>Plan It</button></a>
