<h2>My Timeline</h2>
<h4>Current Plan: {{ singlePlan.planName }}</h4>
<p>Max Time:<input type="number" ng-model="singlePlan.totalPlanMins" min="0" max="1440" /></p>
<span><button ng-click="updateMaxPlanTime(singlePlan, singlePlan.totalPlanMins)">update</button></span>

<div>
  <p>Total Plan Time Set As {{ singlePlan.totalPlanMins }} Minutes</p>

  <p>Total Allocated Time Is: <span id="totalAllottedTime"></span></p>
  <!-- <p><button ng-click="totalAllottedTime(pois)">View</button></p> -->
</div>

<section id="timeline">
  <h3>Timeline</h3>
  <ul>
    <li ng-repeat="poi in pois">
      <p>{{ poi.name }}</p>
      <span>Allotted Time:<input type="number" ng-model="poi.allottedTime" /></span>
      <span><button ng-click="updateAllottedTime(poi, poi.allottedTime)">Set</button></span>
    </li>
  </ul>
</section>

<section id="map">
  <h3>Map</h3>
  <div id="map-pois"></div>
  <button id="toggle_traffic">Traffic</button>

    <div>
      <b>Start:</b>
      <label>
        From: <br />
        <input type="text" id="routeStart" value="" />
      </label>
      <br />
      <label>
        To: <br />
        <input type="text" id="routeEnd" value="" />
      </label>
      <br />
        <label>
          How: <br />
        </label>
        <label><input type="radio" name="travelMode" value="DRIVING" checked /> Driving</label>
        <label><input type="radio" name="travelMode" value="BICYCLING" /> Bicycling</label>
        <label><input type="radio" name="travelMode" value="TRANSIT" /> Public Transport</label>
        <label><input type="radio" name="travelMode" value="WALKING" /> Walking</label>
        <br />
      <button ng-click="getDirections(pois)">GO</button>
    </div>

    <p>Total Travel Distance: <span id="distance" style="margin:20px;background-color:#FFEE77;"></span></p>
    <p>Total Travel Time: <span id="duration" style="margin:20px;background-color:#FFEE77;"></span></p>

    <div id="directionsPanel" style="margin:20px;background-color:#FFEE77;"></div>

</section>
