<div id="create-container">

  <form ng-submit="createPlan(plan)">
    <h2>Create Plan</h2>
    <input type="text" ng-model="plan.name" placeholder="plan name" required />
    <input type="date" ng-model="plan.date" placeholder="for what day" required />
    <input type="text" ng-model="plan.destination" placeholder="location" required />
    <!-- <input type="time" ng-model="plan.time" placeholder="from what time?" /><br/><br/> -->
    <!-- <input type="time" ng-model="plan.time" placeholder="to what time?" /><br/><br/> -->
    <button>Add Plan</button>
  </form>

</div>
