<form ng-submit="createPlan(plan)"><br/>

  <p>Plan Name: <input type="text" ng-model="plan.name" placeholder="what's my plan's name?" /></p>
  <p>Destination (city): <input type="text" ng-model="plan.destination" placeholder="where am I going?" /></p>
  <p>Planned For: <input type="date" ng-model="plan.date" placeholder="for what day?" /></p>
  <!-- <input type="time" ng-model="plan.time" placeholder="from what time?" /><br/><br/> -->
  <!-- <input type="time" ng-model="plan.time" placeholder="to what time?" /><br/><br/> -->

  <button>Add Plan</button>

</form>
