<!-- <form ng-submit="addPoi(poi)"><br/>

  <input type="text" ng-model="poi.name" placeholder="What to see or do?" /><br/><br/>

  <button>Add</button>

</form> -->


<form ng-submit="addPoi(poi)"><br/>

  <input type="text" ng-model="poi.name" placeholder="What to see or do?" /><br/><br/>

  <button>Add</button>

</form>


<ul>
  <li ng-repeat="poi in poiList" id="{{ poi.objectId }}">
    <p>I want to see {{ poi.name }} </p>
    <button ng-click="deletePoi(poi.objectId, $index)">X</button>
  </li>
</ul>
