<h2>Current Plan: {{ plan.name }}</h2>

<form id="search">
  <input type="text" name="near" id="near" value="" placeholder="Destination?">
  <input type="text" name="query" id="query" value="" placeholder="Search?">
  <!-- <input type="text" ng-model="poi.name" placeholder="What do you want to see?" /> -->
  <button ng-click="doSearch()">Search</button>
  <button ng-click="doExplore()">Explore</button>
</form>


<h3>Search Results</h3>
<section id="placesOfInterest">
  <ul>
    <li ng-repeat="result in searchResults" id="{{ result.id }}">
      <a href="" ng-click="poiDetails(result.id)">Details</a>
      <p>{{ result.name }}</p>
      <p>{{ result.location.address }} {{ result.location.city }} {{ result.location.postalCode }}</p>
      <button ng-click="addPoi(result)">Add</button>
    </li>
  </ul>
</section>

<h3>Explore Results</h3>
<section id="placesOfInterest">
  <ul>
    <li ng-repeat="result in exploreResults" id="{{ result.venue.id }}">
      <a href="" ng-click="poiExDetails(result.venue.id)">Details</a>
      <p>{{ result.venue.name }}</p>
      <p>{{ result.venue.location.address }} {{ result.venue.location.city }} {{ result.venue.location.postalCode }}</p>
      <button ng-click="addPoi(result.venue.name, result.venue.id)">Add</button>
    </li>
  </ul>
</section>

<section id="details">
  <h3>Poi Details</h3>
  <h5>Description</h5>
  <p>{{ allDetails.description }}</p>
  <h5>Rating</h5>
  <p>{{ allDetails.rating }}</p>
  <h5>Website</h5>
  <p>{{ allDetails.url }}</p>
  <h5>Telephone</h5>
  <p>{{ allDetails.contact.formattedPhone }}</p>
  <h5>Hours</h5>
  <li ng-repeat="hours in schedule">
    <p>{{ hours.days }} {{ hours.open[0].renderedTime }}<p>
  </li>
</section>


<h2>Plan</h2>
<ul>
  <li ng-repeat="poi in poiList" id="{{ poi.objectId }}">
    <p>I want to see {{ poi.name }} {{ poi.venue.name }}</p>
    <button ng-click="deletePoi(poi.objectId, $index)">X</button>
  </li>
</ul>

<button>Plan It</button>
